# Business Understanding

This project analyzes what types of films Microsoft should create in their new movie studio using various movie data sets. Microsoft currently does not know anything about creating movies and they need help in deciding what films to create. Exploring movie data sets will tell what types of films are doing the best in the box office and this well help Microsoft decide on which creative direction they should go in to be successful.

# Data Understanding

Each dataset used in this project contains thousands of entries. The datasets are from
 * [Box Office Mojo](https://www.boxofficemojo.com/)
 * [IMDB](https://www.imdb.com/)
 * [Rotten Tomatoes](https://www.rottentomatoes.com/)
 * [The Movie DB](https://www.themoviedb.org/)
 * [The Numbers](https://www.the-numbers.com/)

They contain data such as movie titles/release date/domestic and worldwide gross/popularity and genre to name a few. The data used in this research is suitable for the project because it contains various information that shows what movies are doing or have done the best in the box office.

# Data Preperation

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Loading the 'movie budgets' file.
movie_budgets_df = pd.read_csv('data/tn.movie_budgets.csv.gz', index_col=0)

In [3]:
# Gathering information about the Data Frame.
movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

In [94]:
# Previewing the first 5 rows
movie_budgets_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [5]:
# Getting rid of the '$' and commas in 'gross' and 'budget' columns to convert the string to an integer.
movie_budgets_df['worldwide_gross'] = movie_budgets_df['worldwide_gross'].apply(
    lambda x: int(x.replace('$','').replace(',','')))
movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].apply(
    lambda x: int(x.replace('$','').replace(',','')))
movie_budgets_df['domestic_gross'] = movie_budgets_df['domestic_gross'].apply(
    lambda x: int(x.replace('$','').replace(',','')))

In [6]:
# Looking at the highest grossing movies worldwide
sorted_worldwide_gross_movie_budgets_df = movie_budgets_df.sort_values('worldwide_gross', ascending=False)

In [7]:
# Coverting release_date to proper dates
sorted_worldwide_gross_movie_budgets_df['release_date'] = pd.to_datetime(sorted_worldwide_gross_movie_budgets_df['release_date'])

In [59]:
sorted_worldwide_gross_movie_budgets_df

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,2009-12-18,Avatar,425000000,760507625,2776345279
43,1997-12-19,Titanic,200000000,659363944,2208208395
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200
34,2015-06-12,Jurassic World,215000000,652270625,1648854864
...,...,...,...,...,...
68,2015-03-17,Something Wicked,3000000,0,0
34,2008-12-31,Animals,5500000,0,0
96,2015-03-13,Walter,700000,0,0
78,2015-03-10,Subconscious,500000,0,0
6,2020-12-31,Hannibal the Conqueror,50000000,0,0

In [8]:
sorted_worldwide_gross_movie_budgets_df.head(30)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,2009-12-18,Avatar,425000000,760507625,2776345279
43,1997-12-19,Titanic,200000000,659363944,2208208395
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200
34,2015-06-12,Jurassic World,215000000,652270625,1648854864
67,2015-04-03,Furious 7,190000000,353007020,1518722794
27,2012-05-04,The Avengers,225000000,623279547,1517935897
4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
42,2018-02-16,Black Panther,200000000,700059566,1348258224
61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
56,2013-11-22,Frozen,150000000,400738009,1272469910
35,2017-03-17,Beauty and the Beast,160000000,504014165,1259199706
44,2018-06-15,Incredibles 2,200000000,608581744,1242520711
23,2017-04-14,The Fate of the Furious,250000000,225764765,1234846267
48,2013-05-03,Iron Man 3,200000000,408992272,1215392272
73,2015-07-10,Minions,74000000,336045770,1160336173
36,2018-12-21,Aquaman,160000000,335061807,1146894640
26,2003-12-17,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341
17,2016-05-06,Captain America: Civil War,250000000,408084349,1140069413
64,2011-06-29,Transformers: Dark of the Moon,195000000,352390543,1123790543
96,2019-03-08,Captain Marvel,175000000,426525952,1123061550
52,2012-11-08,Skyfall,200000000,304360277,1110526981
37,2014-06-27,Transformers: Age of Extinction,210000000,245439076,1104039076
11,2012-07-20,The Dark Knight Rises,275000000,448139099,1084439099
47,2010-06-18,Toy Story 3,200000000,415004880,1068879522
28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,225000000,423315812,1066215812
45,2016-12-16,Rogue One: A Star Wars Story,200000000,532177324,1049102856
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875

In [9]:
sorted_worldwide_gross_movie_budgets_df = sorted_worldwide_gross_movie_budgets_df.sort_values(by=['release_date', 'worldwide_gross'], ascending=False)

In [10]:
sorted_worldwide_gross_movie_budgets_df = sorted_worldwide_gross_movie_budgets_df.sort_values(by='release_date', ascending=False)

In [11]:
sorted_worldwide_gross_movie_budgets_df = sorted_worldwide_gross_movie_budgets_df.sort_values(by='worldwide_gross', ascending=False)

In [12]:
# Getting descriptive statistics on the sorted worldwide gross data set.
sorted_worldwide_gross_movie_budgets_df.describe()

       production_budget  domestic_gross  worldwide_gross
count       5.782000e+03    5.782000e+03     5.782000e+03
mean        3.158776e+07    4.187333e+07     9.148746e+07
std         4.181208e+07    6.824060e+07     1.747200e+08
min         1.100000e+03    0.000000e+00     0.000000e+00
25%         5.000000e+06    1.429534e+06     4.125415e+06
50%         1.700000e+07    1.722594e+07     2.798445e+07
75%         4.000000e+07    5.234866e+07     9.764584e+07
max         4.250000e+08    9.366622e+08     2.776345e+09

In [13]:
# Loading the tmdb movies file.
tmdb_movies_df = pd.read_csv('data/tmdb.movies.csv.gz', index_col=0)

In [14]:
# Converting dates to actual dates.
tmdb_movies_df['release_date'] = pd.to_datetime(tmdb_movies_df['release_date'])

In [15]:
tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [16]:
# Gathering information about the Data Frame.
tmdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  datetime64[ns]
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.0+ MB

In [17]:
# Previewing the first 5 rows of the Data Frame.
tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [18]:
# Sorting movies by most popular.
sorted_popularity_tmdb_movies_df = tmdb_movies_df.sort_values('popularity', ascending=False)

In [19]:
import ast

In [20]:
# Convert the string representation of the list to an actual Python list
sorted_popularity_tmdb_movies_df['genre_ids'] = sorted_popularity_tmdb_movies_df['genre_ids'].apply(ast.literal_eval)

# Convert the list to a numeric type
sorted_popularity_tmdb_movies_df['genre_ids'] = sorted_popularity_tmdb_movies_df['genre_ids'].apply(pd.to_numeric)

In [21]:
type(sorted_popularity_tmdb_movies_df['genre_ids'][0])

numpy.ndarray

In [22]:
# Looking at the top 30 most popular movies in the data set.
sorted_popularity_tmdb_movies_df.head(30)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11021,"[28, 878, 12]",118340,en,Guardians of the Galaxy,49.606,2014-08-01,Guardians of the Galaxy,7.9,17958
20617,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23813,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23814,[12],338952,en,Fantastic Beasts: The Crimes of Grindelwald,48.508,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,6.9,4870
23815,"[10751, 16, 35, 14, 12]",404368,en,Ralph Breaks the Internet,48.057,2018-11-21,Ralph Breaks the Internet,7.2,2626
20618,"[28, 12, 878, 18]",315635,en,Spider-Man: Homecoming,46.775,2017-07-07,Spider-Man: Homecoming,7.4,11585
20619,"[53, 28, 80]",324552,en,John Wick: Chapter 2,45.253,2017-02-10,John Wick: Chapter 2,7.0,5863
20620,"[28, 18, 878]",263115,en,Logan,45.000,2017-03-03,Logan,7.8,12330
23816,"[28, 12, 878, 35]",363088,en,Ant-Man and the Wasp,44.729,2018-07-06,Ant-Man and the Wasp,7.0,6290
14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365
23818,"[878, 28]",335983,en,Venom,44.007,2018-10-05,Venom,6.6,6206
20621,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23819,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23820,"[28, 12, 878]",424783,en,Bumblebee,43.078,2018-12-21,Bumblebee,6.5,2425
11022,"[28, 12, 14, 878]",127585,en,X-Men: Days of Future Past,41.867,2014-05-23,X-Men: Days of Future Past,7.5,10062
20622,"[28, 12, 35, 878]",283995,en,Guardians of the Galaxy Vol. 2,40.228,2017-05-05,Guardians of the Galaxy Vol. 2,7.7,12535
23821,"[12, 14]",428078,en,Mortal Engines,40.095,2018-12-14,Mortal Engines,6.0,1751
23822,"[12, 28, 53]",375588,en,Robin Hood,39.975,2018-11-21,Robin Hood,5.8,1194
17381,"[28, 12, 878, 14]",246655,en,X-Men: Apocalypse,39.293,2016-05-27,X-Men: Apocalypse,6.5,8348
17382,"[12, 28, 878]",271110,en,Captain America: Civil War,39.137,2016-05-06,Captain America: Civil War,7.4,14000
23823,"[28, 35, 12]",383498,en,Deadpool 2,38.894,2018-05-10,Deadpool 2,7.5,8773
23824,"[28, 12, 14]",297802,en,Aquaman,38.102,2018-12-21,Aquaman,6.8,6155
2468,"[12, 14, 28]",10195,en,Thor,38.068,2011-05-06,Thor,6.7,12764
23825,"[18, 10402]",424694,en,Bohemian Rhapsody,37.197,2018-11-02,Bohemian Rhapsody,8.1,7629

In [23]:
genre_popularity_df = sorted_popularity_tmdb_movies_df[['genre_ids', 'popularity']]

In [24]:
genre_popularity_df.head(30)

                     genre_ids  popularity
23811             [12, 28, 14]      80.773
11019                 [28, 53]      78.123
23812    [28, 12, 16, 878, 35]      60.534
11020             [28, 12, 14]      53.783
5179             [878, 28, 12]      50.289
11021            [28, 878, 12]      49.606
20617            [878, 28, 53]      48.571
23813            [878, 28, 53]      48.571
23814                     [12]      48.508
23815  [10751, 16, 35, 14, 12]      48.057
20618        [28, 12, 878, 18]      46.775
20619             [53, 28, 80]      45.253
20620            [28, 18, 878]      45.000
23816        [28, 12, 878, 35]      44.729
14169            [28, 12, 878]      44.383
23817        [28, 12, 14, 878]      44.140
23818                [878, 28]      44.007
20621         [28, 12, 35, 14]      43.450
23819         [28, 12, 35, 14]      43.450
23820            [28, 12, 878]      43.078
11022        [28, 12, 14, 878]      41.867
20622        [28, 12, 35, 878]      40.228
23821                 [12, 14]      40.095
23822             [12, 28, 53]      39.975
17381        [28, 12, 878, 14]      39.293
17382            [12, 28, 878]      39.137
23823             [28, 35, 12]      38.894
23824             [28, 12, 14]      38.102
2468              [12, 14, 28]      38.068
23825              [18, 10402]      37.197

In [25]:
# Loading the 'movie gross' file.
movie_gross_df = pd.read_csv('data/bom.movie_gross.csv.gz', index_col=0)

In [26]:
# Gatherting information about the Data Frame.
movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3382 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2037 non-null   object
 3   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB

In [27]:
# Checking for how many missing values there are in each column. 
movie_gross_df.isna().sum()

studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [28]:
# Because it is a small amount I decided to drop the missing values from the domestic_gross column
movie_gross_df.dropna(subset=['domestic_gross'], inplace=True)

In [29]:
# Checking to see if the missing values were dropped
movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3359 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   studio          3356 non-null   object
 1   domestic_gross  3359 non-null   float64
 2   foreign_gross   2009 non-null   object
 3   year            3359 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 131.2+ KB

In [30]:
# Previewing the first 5 rows in the Data Frame.
movie_gross_df.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010

In [31]:
# Sorting movies by the highest domestic gross
sorted_movie_gross_domestic_df = movie_gross_df.sort_values('domestic_gross', ascending=False)

In [32]:
# Viewing the top 30 results
sorted_movie_gross_domestic_df.head(30)

,studio,domestic_gross,foreign_gross,year
title,,,,
Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
Black Panther,BV,700100000.0,646900000,2018
Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
Jurassic World,Uni.,652300000.0,"1,019.4",2015
Marvel's The Avengers,BV,623400000.0,895500000,2012
Star Wars: The Last Jedi,BV,620200000.0,712400000,2017
Incredibles 2,BV,608600000.0,634200000,2018
Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016
Beauty and the Beast (2017),BV,504000000.0,759500000,2017
Finding Dory,BV,486300000.0,542300000,2016
Avengers: Age of Ultron,BV,459000000.0,946400000,2015
The Dark Knight Rises,WB,448100000.0,636800000,2012
The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013
Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018
Toy Story 3,BV,415000000.0,652000000,2010
Wonder Woman,WB,412600000.0,409300000,2017
Iron Man 3,BV,409000000.0,805800000,2013
Captain America: Civil War,BV,408100000.0,745200000,2016
The Hunger Games,LGF,408000000.0,286400000,2012
Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017
Frozen,BV,400700000.0,875700000,2013
Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000,2017
Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011
The Secret Life of Pets,Uni.,368400000.0,507100000,2016
Despicable Me 2,Uni.,368100000.0,602700000,2013
The Jungle Book (2016),BV,364000000.0,602500000,2016
Deadpool,Fox,363100000.0,420000000,2016
Inside Out,BV,356500000.0,501100000,2015
Furious 7,Uni.,353000000.0,"1,163.0",2015
Transformers: Dark of the Moon,P/DW,352400000.0,771400000,2011

In [33]:
# Getting descriptive statistics on the sorted domestic movie gross data set.
sorted_movie_gross_domestic_df.describe()

       domestic_gross         year
count    3.359000e+03  3359.000000
mean     2.874585e+07  2013.968145
std      6.698250e+07     2.479432
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [34]:
rt_reviews_df = pd.read_csv('data/rt.reviews.tsv.gz', sep='\t', encoding='latin-1', index_col=0)

In [35]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54432 entries, 3 to 2000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   review      48869 non-null  object
 1   rating      40915 non-null  object
 2   fresh       54432 non-null  object
 3   critic      51710 non-null  object
 4   top_critic  54432 non-null  int64
 5   publisher   54123 non-null  object
 6   date        54432 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.3+ MB

In [36]:
rt_reviews_df.head()

,review,rating,fresh,critic,top_critic,publisher,date
id,,,,,,,
3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [37]:
sorted_rt_reviews_rating = rt_reviews_df.sort_values('rating', ascending=False)

In [38]:
sorted_rt_reviews_rating.head(30)

,review,rating,fresh,critic,top_critic,publisher,date
id,,,,,,,
1765,"upposed to be a horror-comedy film, but it's n...",T,rotten,Jeff Vice,0,Deseret News (Salt Lake City),"January 1, 2000"
760,The times they are a-changin': a frat comedy w...,R,fresh,Jaymes Durante,0,NaN,"May 18, 2016"
1483,Often evoking the dark humour of a Beckett pla...,R,fresh,Isobel Yeap,0,NaN,"May 15, 2016"
667,The humour thrives primarily off of the kookin...,R,fresh,Isobel Yeap,0,NaN,"May 13, 2016"
251,What Carol captures more specifically than the...,R,fresh,Ian Barr,0,NaN,"March 2, 2016"
322,"With a reasonable smattering of gore, and some...",R,fresh,Felix Hubble,0,NaN,"March 3, 2016"
210,What I find so jarring about The Light Between...,N,rotten,Phoebe Chen,0,NaN,"April 1, 2017"
1832,"Unintelligible for new viewers, appropriate on...",N,rotten,Peter Walsh,0,NaN,"April 1, 2017"
1325,"Offensive in almost every way, it's the Billy ...",F-,rotten,Kent Garrison,0,Mad About Movies Podcast,"October 31, 2018"
610,"How do you say, ""I want a refund,"" in Italian?",F+,rotten,Rubin Safaya,0,Cinemalogue,"December 15, 2010"
356,Such a torturous mess that it winds up doing s...,F,rotten,Owen Gleiberman,1,Entertainment Weekly,"November 23, 2005"
644,NaN,F,rotten,Owen Gleiberman,1,Entertainment Weekly,"September 7, 2011"
626,Deserving of immediate X-cision and X-terminat...,F,rotten,Frank Swietek,0,One Guy's Opinion,"April 24, 2002"
1071,Controversy over whether it will inflame anti-...,F,rotten,Eric Harrison,1,Houston Chronicle,"February 24, 2004"
281,It's unclear if boredom is one of the million ...,F,rotten,Drew Taylor,0,The Playlist,"May 30, 2014"
45,NaN,F,rotten,Owen Gleiberman,1,Entertainment Weekly,"September 7, 2011"
1325,There isn't single reason I can think of to se...,F,rotten,Cole Smithey,0,ColeSmithey.com,"September 11, 2018"
686,This movie is a corpse in desperate need of re...,F,rotten,Drew Taylor,0,The Playlist,"February 1, 2014"
1298,"A comedy that surpasses stupidity, and not in ...",F,rotten,Paul West,0,Seattle Post-Intelligencer,"December 13, 2002"
1922,The Wayans family's latest dim-witted fart com...,F,rotten,Eric D. Snider,0,EricDSnider.com,"July 13, 2006"
321,Identity Thief is a cinematic shart - a huge m...,F,rotten,Bill Clark,0,FromTheBalcony,"February 8, 2013"
1206,"[A] completely idiotic, excruciatingly dull po...",F,rotten,Frank Swietek,0,One Guy's Opinion,"January 1, 2000"
973,Gamers would be better off playing Doom or sit...,F,rotten,Mark Pfeiffer,0,NaN,"October 25, 2005"
45,NaN,F,rotten,NaN,1,Entertainment Weekly,"March 27, 1998"
242,NaN,F,rotten,Owen Gleiberman,1,Entertainment Weekly,"September 7, 2011"
242,NaN,F,rotten,NaN,1,Entertainment Weekly,"June 1, 2000"
1256,"A woozy, pretentious would-be thriller that ai...",F,rotten,Frank Swietek,0,One Guy's Opinion,"October 20, 2005"
1542,Given that this is a prequel...there's no susp...,F,rotten,Frank Swietek,0,One Guy's Opinion,"October 6, 2006"
456,"Easily one of the most boring, incoherent and ...",F,rotten,Frank Swietek,0,One Guy's Opinion,"April 21, 2006"
848,De Laurentis and his cronies have turned Hanni...,F,rotten,Mark Ramsey,0,MovieJuice!,"February 11, 2007"

In [39]:
rt_movie_info_df = pd.read_csv('data/rt.movie_info.tsv.gz', sep='\t', encoding='latin-1', index_col=0 )

In [40]:
rt_movie_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1560 entries, 1 to 2000
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   synopsis      1498 non-null   object
 1   rating        1557 non-null   object
 2   genre         1552 non-null   object
 3   director      1361 non-null   object
 4   writer        1111 non-null   object
 5   theater_date  1201 non-null   object
 6   dvd_date      1201 non-null   object
 7   currency      340 non-null    object
 8   box_office    340 non-null    object
 9   runtime       1530 non-null   object
 10  studio        494 non-null    object
dtypes: object(11)
memory usage: 146.2+ KB

In [41]:
rt_movie_info_df.head(50)

,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
id,,,,,,,,,,,
1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures
35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999","Jan 18, 2000",NaN,NaN,110 minutes,NaN
38,You'd think they would know better from their ...,R,Art House and International|Classics|Horror|My...,Roy Ward Baker,Anthony Hinds|John Elder,"Dec 23, 1970","Aug 7, 2001",NaN,NaN,96 minutes,NaN
39,A group of stoners at a rock festival is stalk...,R,Horror,David Arquette,David Arquette|Joe Harris,"Apr 20, 2007","Oct 30, 2007",NaN,NaN,97 minutes,After Dark Films/Freestyle Releasing
40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003","Apr 13, 2004",$,"312,136",95 minutes,NaN
41,"Ken Loach directs Sweet Sixteen, a gritty dram...",R,Drama,Ken Loach,Paul Laverty,"May 16, 2003","Oct 7, 2003",$,"201,010",106 minutes,Lions Gate Films
42,"Warner Bros.' ""Perry Mason"" series quietly sli...",G,Action and Adventure|Classics|Drama|Mystery an...,NaN,Frederick Hugh Herbert,NaN,NaN,NaN,NaN,65 minutes,NaN
43,Based on the play,NR,Classics|Comedy|Musical and Performing Arts,William Wellman,Nunnally Johnson,NaN,NaN,NaN,NaN,75 minutes,NaN
44,Can death be a good career move? The star of B...,R,Comedy,Pauly Shore,Pauly Shore|Kirk Fox,"Mar 11, 2003","Jan 25, 2005",NaN,NaN,82 minutes,Regent Releasing
45,Hawaiian surfer dudes Stew (Steve Van Wormer) ...,PG,Comedy|Kids and Family,Steve Boyum,Jim Herzfeld|Dale Pollock,NaN,NaN,NaN,NaN,92 minutes,NaN
46,Six guys with nothing left to lose try losing ...,R,Comedy|Musical and Performing Arts,Peter Cattaneo,Simon Beaufoy|Simon Beaufor,"Aug 13, 1997","Nov 2, 1999",NaN,NaN,91 minutes,NaN
48,To fully enjoy the rugged outdoors adventure T...,NR,Action and Adventure|Drama|Western,Edward Dmytryk,Ranald MacDougall,NaN,NaN,NaN,NaN,73 minutes,NaN
49,Two gorgeous women -- Donna (Dona Speir) and T...,R,Action and Adventure|Comedy|Mystery and Suspense,Andy Sidaris,Andy Sidaris,NaN,NaN,NaN,NaN,100 minutes,NaN
50,A New York City police officer (Don Murray) us...,R,Action and Adventure|Drama,Ivan Nagy,Don Petersen|George Wislocki,NaN,NaN,NaN,NaN,99 minutes,NaN
51,"Wait Until Dark is an innovative, highly enter...",NR,Mystery and Suspense,Terence Young,Jane-Howard Carrington|Robert Carrington,"Oct 26, 1967","Aug 5, 2003",NaN,NaN,108 minutes,NaN
52,This offbeat romantic comedy has some rather d...,PG,Comedy|Drama|Romance,Jon Turteltaub,NaN,"Apr 21, 1995","Feb 3, 1998",NaN,NaN,103 minutes,NaN
53,La autobiograf,PG,Drama|Romance,NaN,NaN,NaN,NaN,NaN,NaN,112 minutes,NaN
54,Journalist Jep Gambardella (the dazzling Toni ...,NR,Comedy|Drama,Paolo Sorrentino,Paolo Sorrentino|Umberto Contarello,"Nov 15, 2013","Mar 25, 2014",NaN,NaN,142 minutes,Janus Films
55,A progressive scientist builds a machine that ...,NR,Action and Adventure|Science Fiction and Fantasy,Henning Schellerup,NaN,NaN,NaN,NaN,NaN,99 minutes,NaN
56,Albert Hughes and his brother Allen Hughes fol...,R,Drama,Allen Hughes|Albert Hughes,Michael Henry Brown|Albert Hughes|Allen Hughes,"Oct 6, 1995","May 19, 1998",NaN,NaN,119 minutes,NaN
57,Life doesn't always go according to plan. Pat ...,R,Comedy,NaN,NaN,"Nov 21, 2012","Apr 30, 2013",$,"132,088,910",122 minutes,The Weinstein Company
58,"A smaller, amusing comedy from writer/director...",PG,Comedy|Romance,Woody Allen,Woody Allen,"Jan 27, 1984","Nov 6, 2001",NaN,NaN,86 minutes,NaN
59,Set in the northern province of Shandong durin...,NR,Art House and International|Drama,Yimou Zhang,NaN,NaN,NaN,NaN,NaN,91 minutes,NaN
60,"In 1982, Crippen High School was the scene of ...",R,Horror,Bill Froehlich,NaN,"Jan 1, 1987","Nov 27, 2001",NaN,NaN,95 minutes,NaN
61,Death once again shows he's determined to get ...,R,Action and Adventure|Drama|Horror|Mystery and ...,James Wong,James Wong|Glen Morgan,"Feb 10, 2006","Jul 25, 2006",$,"54,100,000",93 minutes,New Line Cinema
63,A policeman plays Good Samaritan to a visitor ...,R,Action and Adventure|Drama|Mystery and Suspense,NaN,David Aaron Cohen|Kevin Jarre|Vincent Patrick|...,"Mar 26, 1997","Feb 24, 1998",NaN,NaN,111 minutes,NaN

In [42]:
# Converting the box_office column to numerical data
rt_movie_info_df['box_office'] = rt_movie_info_df['box_office'].apply(
    lambda x: int(x) if type(x)==int else int(x.replace(',','')) if type(x)==str else x)

In [43]:
# Sorting by highest box_office numbers
sorted_rt_movie_boxoffice = rt_movie_info_df.sort_values('box_office', ascending=False)

In [44]:
sorted_rt_movie_boxoffice.head(30)

,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
id,,,,,,,,,,,
1071,This depiction of the last 12 hours in the lif...,R,Drama,Mel Gibson,Mel Gibson|Benedict Fitzgerald,"Feb 25, 2004","Aug 31, 2004",$,368000000.0,127 minutes,Newmarket Film Group
1136,The Hobbit: An Unexpected Journey follows titl...,PG-13,Action and Adventure|Science Fiction and Fantasy,Peter Jackson,Peter Jackson|Philippa Boyens|Guillermo del To...,"Dec 14, 2012","Mar 19, 2013",$,303001229.0,170 minutes,Warner Bros.
1525,"In Skyfall, Bond's loyalty to M is tested as h...",PG-13,Action and Adventure|Mystery and Suspense,Sam Mendes,John Logan|Robert Wade|Neal Purvis,"Nov 9, 2012","Mar 11, 2013",$,299300000.0,145 minutes,MGM
883,"Now that Greg Focker is ""in"" with his soon-to-...",PG-13,Comedy,Jay Roach,Jim Herzfeld|John Hamburg,"Dec 22, 2004","Apr 26, 2005",$,279167575.0,118 minutes,Universal Pictures
1442,Youthful wizard Harry Potter returns to the sc...,PG,Kids and Family|Science Fiction and Fantasy,Chris Columbus,Steve Kloves,"Nov 15, 2002","Apr 11, 2003",$,261835892.0,161 minutes,Warner Bros. Pictures
1255,Mission: Impossible III director and Alias cre...,PG-13,Action and Adventure|Drama|Science Fiction and...,NaN,Gene Roddenberry|Alex Kurtzman|Roberto Orci,"May 7, 2009","Nov 17, 2009",$,257704099.0,127 minutes,IMAX
661,One woman's rocky road to the altar gets playe...,PG,Comedy|Romance,Joel Zwick,Nia Vardalos,"Apr 19, 2002","Feb 11, 2003",$,241250669.0,95 minutes,IFC Films
841,This is a contemporary retelling of H.G. Wells...,PG-13,Action and Adventure|Science Fiction and Fantasy,Steven Spielberg,Josh Friedman|David Koepp,"Jun 29, 2005","Nov 22, 2005",$,234141872.0,117 minutes,Paramount Pictures
1877,A hard-drinking lush finds himself thrust into...,PG-13,Action and Adventure|Comedy|Drama,Peter Berg,Vincent Gilligan|Vince Gilligan|Vy Vincent Ngo,"Jun 16, 2008","Nov 25, 2008",$,227946274.0,92 minutes,Columbia Pictures
1600,When a failed assassination attempt occurs on ...,PG-13,Action and Adventure|Science Fiction and Fantasy,Bryan Singer,Daniel Harris|Dan Harris|Michael Dougherty|Bry...,"May 2, 2003","Nov 25, 2003",$,214813155.0,134 minutes,20th Century Fox
1722,Former cop Brian O'Conner (Paul Walker) partne...,PG-13,Action and Adventure|Drama|Mystery and Suspense,Justin Lin,Chris Morgan,"Apr 29, 2011","Oct 4, 2011",$,209805005.0,131 minutes,Universal Pictures
1295,"""Maleficent"" explores the untold story of Disn...",PG,Science Fiction and Fantasy,Robert Stromberg,Linda Woolverton,"May 30, 2014","Nov 4, 2014",$,190871149.0,97 minutes,Walt Disney Pictures
1585,A dating doctor claims that with his services ...,PG-13,Comedy|Romance,Andrew Tennant|Andy Tennant,Kevin Bisch,"Feb 11, 2005","Jun 14, 2005",$,177575142.0,120 minutes,Sony Pictures
1695,"The second chapter in the ""Bourne Trilogy,"" ba...",PG-13,Action and Adventure|Drama|Mystery and Suspense,Paul Greengrass,Tony Gilroy,"Jul 23, 2004","Dec 7, 2004",$,176049130.0,108 minutes,Universal Pictures
1446,In this comedy from Austin Powers director Jay...,PG-13,Comedy,Jay Roach,John Hamburg|Jim Herzfeld,"Oct 6, 2000","Mar 6, 2001",$,164454835.0,108 minutes,Universal Pictures
443,Marvel's first family of comic superheroes tak...,PG-13,Action and Adventure|Science Fiction and Fantasy,Tim Story,Mark Frost|Michael France|Carl Johansen,"Jul 8, 2005","Dec 6, 2005",$,154485963.0,123 minutes,20th Century Fox
1381,When a one-night stand that should have stayed...,R,Comedy|Romance,Judd Apatow,Judd Apatow,"Jun 1, 2007","Sep 25, 2007",$,148734225.0,129 minutes,Universal
1288,A New Jersey rent-a-cop gets his moment to shi...,PG,Comedy,Steve Carr,Kevin James|Nick Bakay,"Jan 16, 2009","May 19, 2009",$,146336178.0,91 minutes,Sony Pictures/Columbia Pictures
1935,"Director Alex Proyas (Dark City, The Crow) hel...",PG-13,Action and Adventure|Mystery and Suspense|Scie...,Alex Proyas,Akiva Goldsman|Jeff Vintar,"Jul 16, 2004","Dec 14, 2004",$,144738046.0,115 minutes,20th Century Fox
321,Unlimited funds have allowed Diana (McCarthy) ...,R,Comedy,Seth Gordon,Craig Mazin,"Feb 7, 2013","Jun 4, 2013",$,134455175.0,111 minutes,Universal Pictures
57,Life doesn't always go according to plan. Pat ...,R,Comedy,NaN,NaN,"Nov 21, 2012","Apr 30, 2013",$,132088910.0,122 minutes,The Weinstein Company
218,A disturbing videotape appears to hold the pow...,PG-13,Drama|Horror|Mystery and Suspense|Romance,Gore Verbinski,Ehren Kruger,"Oct 18, 2002","Mar 4, 2003",$,128579698.0,115 minutes,DreamWorks SKG
65,A classic Disney fairytale collides with moder...,PG,Comedy|Kids and Family|Romance,Kevin Lima,NaN,"Nov 21, 2007","Mar 18, 2008",$,127706877.0,108 minutes,Walt Disney Pictures
1017,David Fincher's The Curious Case of Benjamin B...,PG-13,Drama|Science Fiction and Fantasy|Romance,David Fincher,Eric Roth|Robin Swicord,"Dec 25, 2008","May 5, 2009",$,127490802.0,166 minutes,Paramount
1535,Vin Diesel opted to not appear in the sequel t...,PG-13,Action and Adventure|Drama|Mystery and Suspense,John Singleton,Gary Scott Thompson|Derek Haas|Michael Brandt,"Jun 6, 2003","Sep 30, 2003",$,127083765.0,108 minutes,Universal Pictures Distributio
488,"A recent college graduate, Barry B. Benson wan...",PG,Animation|Comedy|Kids and Family,NaN,Spike Feresten|Jerry Seinfeld|Barry Marder|And...,"Nov 2, 2007","Mar 11, 2008",$,126597121.0,90 minutes,Paramount Pictures
1601,Rango is a sheltered chameleon living as an or...,PG,Action and Adventure|Animation|Kids and Family,Gore Verbinski,John Logan,"Mar 4, 2011","Jul 15, 2011",$,123188232.0,107 minutes,Paramount Pictures
433,The best-selling suspense novel by late author...,PG-13,Action and Adventure|Mystery and Suspense,Doug Liman,Tony Gilroy|William Blake Herron,"Jun 14, 2002","Jan 21, 2003",$,121500000.0,117 minutes,Universal Pictures
1512,In Paul Verhoeven's wild sci-fi action movie T...,R,Action and Adventure|Drama|Mystery and Suspens...,Paul Verhoeven,NaN,"Jun 1, 1990","Aug 29, 2000",$,119000000.0,113 minutes,NaN
1223,A once-loving Chicago couple whose happily-eve...,PG-13,Comedy|Drama|Romance,Peyton Reed,Vince Vaughn|Jeremy Garelick|Jay Lavender,"Jun 1, 2006","Oct 17, 2006",$,118683135.0,107 minutes,Universal Pictures

In [45]:
sorted_rt_movie_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1560 entries, 1071 to 2000
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   synopsis      1498 non-null   object
 1   rating        1557 non-null   object
 2   genre         1552 non-null   object
 3   director      1361 non-null   object
 4   writer        1111 non-null   object
 5   theater_date  1201 non-null   object
 6   dvd_date      1201 non-null   object
 7   currency      340 non-null    object
 8   box_office    340 non-null    float64
 9   runtime       1530 non-null   object
 10  studio        494 non-null    object
dtypes: float64(1), object(10)
memory usage: 146.2+ KB

In [46]:
conn = sqlite3.connect('data/im.db')
cur = conn.cursor()
imdb_tables = pd.read_sql('SELECT * FROM sqlite_master WHERE type = "table"', conn)
imdb_tables

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [48]:
# read in the movie_basics table into a dataframe
movie_basics = pd.read_sql_query("SELECT * from movie_basics", conn)

# read in the directors table into a dataframe
directors = pd.read_sql_query("SELECT * from directors", conn)

In [79]:
directors.drop_duplicates(subset=['movie_id'], keep='first', inplace=True)

In [81]:
directors

         movie_id   person_id
0       tt0285252   nm0899854
1       tt0462036   nm1940585
2       tt0835418   nm0151540
4       tt0878654   nm0089502
7       tt0879859   nm2416460
...           ...         ...
291167  tt8999892  nm10122247
291169  tt8999974  nm10122357
291170  tt9001390   nm6711477
291171  tt9001494  nm10123242
291173  tt9004986   nm4993825

[140417 rows x 2 columns]

In [82]:
# Merge the movie basics and directors tables on the movie_id column
movie_directors = pd.merge(movie_basics, directors, on='movie_id', how='left')

In [83]:
movie_directors

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,person_id
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384
...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,nm9272490
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,nm10538612
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490

In [52]:
persons = pd.read_sql_query("SELECT * from persons", conn)

In [91]:
# Merge the directors table with the persons table
directors_persons = pd.merge(directors, persons, on='person_id', how='inner')

# Merge the resulting dataframe with the movie basics table
movie_directors_df = pd.merge(movie_directors, directors_persons, on='person_id', how='left')

movie_directors_df

,movie_id_x,primary_title,original_title,start_year,runtime_minutes,genres,person_id,primary_name_x,birth_year_x,death_year_x,primary_profession_x,movie_id_y,primary_name_y,birth_year_y,death_year_y,primary_profession_y
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer",tt0063540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,Mani Kaul,1944.0,2011.0,"director,writer,actor",tt0066787,Mani Kaul,1944.0,2011.0,"director,writer,actor"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,Orson Welles,1915.0,1985.0,"actor,director,writer",tt0069049,Orson Welles,1915.0,1985.0,"actor,director,writer"
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,Hrishikesh Mukherjee,1922.0,2006.0,"director,editor,writer",tt0069204,Hrishikesh Mukherjee,1922.0,2006.0,"director,editor,writer"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",nm0765384,Valeria Sarmiento,1948.0,NaN,"editor,director,writer",tt1928329,Valeria Sarmiento,1948.0,NaN,"editor,director,writer"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380129,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer",tt10225752,Angela Gurgel,NaN,NaN,"director,writer"
380130,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer",tt9916754,Angela Gurgel,NaN,NaN,"director,writer"
380131,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer",tt10231530,Angela Gurgel,NaN,NaN,"director,writer"
380132,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer",tt10056270,Angela Gurgel,NaN,NaN,"director,writer"
380133,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer",tt10006546,Angela Gurgel,NaN,NaN,"director,writer"

In [93]:
dir_name_title = movie_directors_df[['movie_id_x', 'primary_title', 'person_id', 'primary_name_x']]
dir_name_title

,movie_id_x,primary_title,person_id,primary_name_x
0,tt0063540,Sunghursh,nm0712540,Harnam Singh Rawail
1,tt0066787,One Day Before the Rainy Season,nm0002411,Mani Kaul
2,tt0069049,The Other Side of the Wind,nm0000080,Orson Welles
3,tt0069204,Sabse Bada Sukh,nm0611531,Hrishikesh Mukherjee
4,tt0100275,The Wandering Soap Opera,nm0765384,Valeria Sarmiento
...,...,...,...,...
380129,tt9916754,Chico Albuquerque - Revelações,nm9272490,Angela Gurgel
380130,tt9916754,Chico Albuquerque - Revelações,nm9272490,Angela Gurgel
380131,tt9916754,Chico Albuquerque - Revelações,nm9272490,Angela Gurgel
380132,tt9916754,Chico Albuquerque - Revelações,nm9272490,Angela Gurgel
380133,tt9916754,Chico Albuquerque - Revelações,nm9272490,Angela Gurgel

In [96]:
budget_info = movie_budgets_df[['movie', 'production_budget', 'domestic_gross', 'worldwide_gross']]
budget_info

,movie,production_budget,domestic_gross,worldwide_gross
id,,,,
1,Avatar,425000000,760507625,2776345279
2,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
3,Dark Phoenix,350000000,42762350,149762350
4,Avengers: Age of Ultron,330600000,459005868,1403013963
5,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...
78,Red 11,7000,0,0
79,Following,6000,48482,240495
80,Return to the Land of Wonders,5000,1338,1338
81,A Plague So Pleasant,1400,0,0
82,My Date With Drew,1100,181041,181041

In [101]:
budget_info.rename(columns={"movie": "primary_title"}, inplace=True)

/home/adam/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [102]:
budget_info

,primary_title,production_budget,domestic_gross,worldwide_gross
id,,,,
1,Avatar,425000000,760507625,2776345279
2,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
3,Dark Phoenix,350000000,42762350,149762350
4,Avengers: Age of Ultron,330600000,459005868,1403013963
5,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
...,...,...,...,...
78,Red 11,7000,0,0
79,Following,6000,48482,240495
80,Return to the Land of Wonders,5000,1338,1338
81,A Plague So Pleasant,1400,0,0
82,My Date With Drew,1100,181041,181041

In [106]:
gross_directors_df = pd.merge(dir_name_title, budget_info, on='primary_title', how='inner')

In [108]:
gross_directors_df['profit'] = gross_directors_df['worldwide_gross'] - gross_directors_df['production_budget']
gross_directors_df

,movie_id_x,primary_title,person_id,primary_name_x,production_budget,domestic_gross,worldwide_gross,profit
0,tt0249516,Foodfight!,nm0440415,Lawrence Kasanoff,45000000,0,73706,-44926294
1,tt0249516,Foodfight!,nm0440415,Lawrence Kasanoff,45000000,0,73706,-44926294
2,tt0293429,Mortal Kombat,nm2585406,Simon McQuoid,20000000,70433227,122133227,102133227
3,tt0326592,The Overnight,nm1208371,Jed I. Goodman,200000,1109808,1165996,965996
4,tt3844362,The Overnight,nm2674307,Patrick Brice,200000,1109808,1165996,965996
...,...,...,...,...,...,...,...,...
10924,tt9844102,Ray,nm3386933,Riingo Banerjee,40000000,75305995,124823094,84823094
10925,tt9844102,Ray,nm3386933,Riingo Banerjee,40000000,75305995,124823094,84823094
10926,tt9844102,Ray,nm3386933,Riingo Banerjee,40000000,75305995,124823094,84823094
10927,tt9893078,Sublime,nm0349702,Bill Guttentag,1800000,0,0,-1800000
10928,tt9893078,Sublime,nm0349702,Bill Guttentag,1800000,0,0,-1800000

In [89]:
directors_persons

,movie_id,person_id,primary_name,birth_year,death_year,primary_profession
0,tt0285252,nm0899854,Tony Vitale,1964.0,NaN,"producer,director,writer"
1,tt0462036,nm1940585,Bill Haley,NaN,NaN,"director,writer,producer"
2,tt0835418,nm0151540,Jay Chandrasekhar,1968.0,NaN,"director,actor,writer"
3,tt0859635,nm0151540,Jay Chandrasekhar,1968.0,NaN,"director,actor,writer"
4,tt0878654,nm0089502,Albert Pyun,1954.0,NaN,"director,writer,producer"
...,...,...,...,...,...,...
140411,tt8998302,nm10121510,Daryl Boman,NaN,NaN,"producer,director,writer"
140412,tt8999892,nm10122247,C. Damon Adcock,NaN,NaN,None
140413,tt8999974,nm10122357,Daysi Burbano,NaN,NaN,"director,writer,cinematographer"
140414,tt9001390,nm6711477,Bernard Lessa,NaN,NaN,"director,writer,cinematographer"
140415,tt9001494,nm10123242,Tate Nova,NaN,NaN,"director,producer"

In [65]:
# Calling movie_directors df
len(movie_directors['primary_title'].unique())

136071

In [60]:
movie_directors

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,person_id,primary_name,birth_year,death_year,primary_profession
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,Harnam Singh Rawail,1921.0,2004.0,"director,writer,producer"
4,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,Mani Kaul,1944.0,2011.0,"director,writer,actor"
...,...,...,...,...,...,...,...,...,...,...,...
296894,tt9916730,6 Gunn,6 Gunn,2017,116.0,None,nm10538612,Kiran Gawade,NaN,NaN,None
296895,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm8349149,Vinicius Augusto Bozzo,1985.0,NaN,"writer,editor,director"
296896,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm8349149,Vinicius Augusto Bozzo,1985.0,NaN,"writer,editor,director"
296897,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer"
296898,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,nm9272490,Angela Gurgel,NaN,NaN,"director,writer"

In [56]:
sorted_worldwide_gross_movie_budgets_df.shape

(5782, 5)

In [ ]:
movie_basics = pd.read_sql_query("SELECT * from movie_basics", conn)

# read in the directors table into a dataframe
directors = pd.read_sql_query("SELECT * from directors", conn)

# join the two dataframes on the movie_id column
df = pd.merge(movie_basics, directors, on="movie_id")

# close the database connection
conn.close()

# view the resulting dataframe
print(df.head())

In [ ]:
# Establish a connection to the database
conn = sqlite3.connect('data/im.db')

# Execute the SQL query to join the tables and convert the result set into a DataFrame
df_imdb = pd.read_sql_query('SELECT * FROM directors JOIN persons ON directors.person_id = persons.person_id', conn)

# Preview the first 10 rows of the DataFrame
print(df_imdb.head(10))

# Close the connection
conn.close()

In [ ]:
# Establish a connection to the database
conn = sqlite3.connect('data/im.db')

# Execute the SQL query to join the tables and convert the result set into a DataFrame
df_imdb = pd.read_sql_query('SELECT * FROM directors JOIN movie_basics ON directors.movie_id = movie_basics.movie_id', conn)

# Preview the first 10 rows of the DataFrame
print(df_imdb.head(10))

# Close the connection
conn.close()

In [ ]:
df_imdb = pd.read_sql('SELECT * FROM persons', conn)

In [ ]:
movie_basics_df = pd.read_sql_query("SELECT * FROM directors;", conn)
movie_ratings_df = pd.read_sql_query("SELECT * FROM persons;", conn)

# Join the DataFrames on the 'movie_id' column
joined_df = pd.merge(movie_basics_df, movie_ratings_df, on='movie_id')

joined_df.head()

# Exploratory Data Analysis

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [ ]:
genre_popularity_df = genre_popularity_df.explode('genre_ids').groupby('genre_ids')['popularity'].mean().reset_index()

# sort the genres by popularity in descending order
genre_popularity_df = genre_popularity_df.sort_values(by='popularity', ascending=False)

# select the top three genres by popularity
top_three_genres = genre_popularity_df['genre_ids'].head(3).tolist()

# print the top three genres
print(top_three_genres)

In [ ]:
plt.figure(figsize = (20, 15))
plt.ticklabel_format(style='plain')
sns.regplot(
    data = sorted_worldwide_gross_movie_budgets_df, 
    x = "production_budget", 
    y = "worldwide_gross",
    scatter_kws = {"alpha": 0.1},
    line_kws = {"color": "red"}
)
plt.savefig("budget_wgross.jpg")

plt.xlabel('Production Budget (in millions)')
plt.gca().xaxis.set_major_formatter(ticker.FuncFormatter
        (lambda x, pos: f'{x/1000000:.0f}M'))

# Set the y-axis label and format the tick labels in millions
plt.ylabel('Worldwide Gross Revenue (in millions)')
plt.gca().yaxis.set_major_formatter(ticker.FuncFormatter
        (lambda x, pos: f'{x/1000000:.0f}M'))

plt.savefig("budget_wgross.jpg")

In [ ]:
# Graphing descriptive statistics for the data frame (histogram)
ax = sorted_popularity_tmdb_movies_df["popularity"].plot.hist(bins=30, alpha=0.5)
ax.set_xlabel("Popularity")
ax.set_ylabel("Frequency")

In [ ]:
# Graphing descriptive statistics for the data frame (histogram) Left skewed
ax = sorted_popularity_tmdb_movies_df["popularity"].plot.hist(bins=30, alpha=0.5)
ax.set_xlabel("Popularity")
ax.set_ylabel("Frequency")

In [ ]:
# Graphing descriptive statistics for the data frame (histogram) Left skewed
sorted_worldwide_gross_movie_budgets_df["worldwide_gross"].plot.hist(bins=30, alpha=0.5)
ax.set_xlabel("worldwide_gross")
ax.set_ylabel("Frequency")

In [ ]:
# Graphing descriptive statistics for the data frame (histogram) Left skewed
sorted_movie_gross_domestic_df["domestic_gross"].plot.hist(bins=30, alpha=0.5)
ax.set_xlabel("domestic_gross")
ax.set_ylabel("Frequency")

We can see that the relationship between popularity and vote average is fairly normally distributed, as well as vote count and vote average.

In [ ]:
sns.pairplot(sorted_popularity_tmdb_movies_df)

In general we can see below that there is a positive correlation between production budget and domestic and worldwide gross of a movie.

In [ ]:
sns.pairplot(sorted_worldwide_gross_movie_budgets_df)

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
others_popularity = genre_popularity_df[~genre_popularity_df['genre_ids'].isin([12, 28])]['popularity'].mean()
others = pd.DataFrame({'genre_ids': ['Others'], 'popularity': [others_popularity]})

top_movies = genre_popularity_df[genre_popularity_df['genre_ids'].isin([12, 28])]
top_movies['genre_ids'] = top_movies['genre_ids'].replace({12: 'Adventure', 28: 'Action'})
top_movies = pd.concat([top_movies, others])

plt.figure(figsize=(12, 6))
sns.barplot(data=top_movies, x='genre_ids', y='popularity')
plt.xlabel('Genre')
plt.ylabel('Average Popularity')
plt.title('Average Popularity by Genre')
plt.show()

# Conclusion

Through my analysis I found that the most popular movies in the box office over the past 10 years have been in the genre's of "Action" and "Adventure".

In general there is a positive correlation between production budget and worldwide/domestic gross. 

Director James Cameron had the 2 highest grossing movies according to the movie budgets data set. There are certain directors linked to high grossing films.

## Recommendations

Based on my findings I would recommend that Microsoft should create movies that are within the "Action" and "Adventure" genres as they have the highest popularity rating. 

I would recommend that Microsoft be prepared to investment more money into the production budget. Higher production budgets are more likely to lead to a higher grossing film. 

Hiring a top director such as James Cameron (who has been proven to create the highest grossing films) would be highly beneficial in creating a potential best selling/successful movie.

## Limitations

One limitation that I found while investigating the data sets was that there were too many missing values in certain data sets which effected my ability to use it. The biggest limitation was the lack of information on net profit for production companies. Having this information would help in determining a movie's a success. Looking into how much money went into advertising for example could be an element that would effect total profit. Having numbers on production budget and worldwide gross are very valuable but it still does not tell the whole story.

## Next Steps

Exploring more data sets is always helpful. The more information we have at our fingertips will only strenghten knowledge on a particular subject and lead to the best course of action. I would look into data sets focusing more on production companies to try and gather more information on what goes into making a successful film. Looking at data sets that have information on how much money went into advertising and also how long the movie was actively advertised for would be crucial to look at to ensure the best steps are being taken to produce a successful movie.