# Business Understanding

This project analyzes what types of films Microsoft should create in their new movie studio using various movie data sets. Microsoft currently does not know anything about creating movies and they need help in deciding what films to create. Exploring movie data sets will tell what types of films are doing the best in the box office and this well help Microsoft decide on which creative direction they should go in to be successful.

# Data Understanding

Each data set used in this research contains thousands of entries.

# Data Preperation

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# Loading the 'movie budgets' file.
movie_budgets_df = pd.read_csv('data/tn.movie_budgets.csv.gz', index_col=0)

In [3]:
# Gathering information about the Data Frame.
movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

In [4]:
# Previewing the first 5 rows
movie_budgets_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [5]:
# Getting rid of the '$' and commas in 'gross' and 'budget' columns to convert the string to an integer.
movie_budgets_df['worldwide_gross'] = movie_budgets_df['worldwide_gross'].apply(
    lambda x: int(x.replace('$','').replace(',','')))
movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].apply(
    lambda x: int(x.replace('$','').replace(',','')))
movie_budgets_df['domestic_gross'] = movie_budgets_df['domestic_gross'].apply(
    lambda x: int(x.replace('$','').replace(',','')))

In [8]:
# Looking at the highest grossing movies worldwide
sorted_worldwide_gross_movie_budgets_df = movie_budgets_df.sort_values('worldwide_gross', ascending=False)

In [16]:
# Looking at the top 30 highest grossing movies of all time
sorted_worldwide_gross_movie_budgets_df.head(30)

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395
6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200
34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864
67,"Apr 3, 2015",Furious 7,190000000,353007020,1518722794
27,"May 4, 2012",The Avengers,225000000,623279547,1517935897
4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
42,"Feb 16, 2018",Black Panther,200000000,700059566,1348258224
61,"Jul 15, 2011",Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
13,"Jun 22, 2018",Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
56,"Nov 22, 2013",Frozen,150000000,400738009,1272469910
35,"Mar 17, 2017",Beauty and the Beast,160000000,504014165,1259199706
44,"Jun 15, 2018",Incredibles 2,200000000,608581744,1242520711
23,"Apr 14, 2017",The Fate of the Furious,250000000,225764765,1234846267
48,"May 3, 2013",Iron Man 3,200000000,408992272,1215392272
73,"Jul 10, 2015",Minions,74000000,336045770,1160336173
36,"Dec 21, 2018",Aquaman,160000000,335061807,1146894640
26,"Dec 17, 2003",The Lord of the Rings: The Return of the King,94000000,377845905,1141403341
17,"May 6, 2016",Captain America: Civil War,250000000,408084349,1140069413
64,"Jun 29, 2011",Transformers: Dark of the Moon,195000000,352390543,1123790543
96,"Mar 8, 2019",Captain Marvel,175000000,426525952,1123061550
52,"Nov 8, 2012",Skyfall,200000000,304360277,1110526981
37,"Jun 27, 2014",Transformers: Age of Extinction,210000000,245439076,1104039076
11,"Jul 20, 2012",The Dark Knight Rises,275000000,448139099,1084439099
47,"Jun 18, 2010",Toy Story 3,200000000,415004880,1068879522
28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000,423315812,1066215812
45,"Dec 16, 2016",Rogue One: A Star Wars Story,200000000,532177324,1049102856
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875

In [17]:
# Loading the tmdb movies file.
tmdb_movies_df = pd.read_csv('data/tmdb.movies.csv.gz', index_col=0)

In [18]:
# Gathering information about the Data Frame.
tmdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [19]:
# Previewing the first 5 rows of the Data Frame.
tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [20]:
# Sorting movies by most popular.
sorted_popularity_tmdb_movies_df = tmdb_movies_df.sort_values('popularity', ascending=False)

In [21]:
# Looking at the top 30 most popular movies in the data set.
sorted_popularity_tmdb_movies_df.head(30)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11021,"[28, 878, 12]",118340,en,Guardians of the Galaxy,49.606,2014-08-01,Guardians of the Galaxy,7.9,17958
20617,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23813,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23814,[12],338952,en,Fantastic Beasts: The Crimes of Grindelwald,48.508,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,6.9,4870
23815,"[10751, 16, 35, 14, 12]",404368,en,Ralph Breaks the Internet,48.057,2018-11-21,Ralph Breaks the Internet,7.2,2626
20618,"[28, 12, 878, 18]",315635,en,Spider-Man: Homecoming,46.775,2017-07-07,Spider-Man: Homecoming,7.4,11585
20619,"[53, 28, 80]",324552,en,John Wick: Chapter 2,45.253,2017-02-10,John Wick: Chapter 2,7.0,5863
20620,"[28, 18, 878]",263115,en,Logan,45.000,2017-03-03,Logan,7.8,12330
23816,"[28, 12, 878, 35]",363088,en,Ant-Man and the Wasp,44.729,2018-07-06,Ant-Man and the Wasp,7.0,6290
14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365
23818,"[878, 28]",335983,en,Venom,44.007,2018-10-05,Venom,6.6,6206
20621,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23819,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23820,"[28, 12, 878]",424783,en,Bumblebee,43.078,2018-12-21,Bumblebee,6.5,2425
11022,"[28, 12, 14, 878]",127585,en,X-Men: Days of Future Past,41.867,2014-05-23,X-Men: Days of Future Past,7.5,10062
20622,"[28, 12, 35, 878]",283995,en,Guardians of the Galaxy Vol. 2,40.228,2017-05-05,Guardians of the Galaxy Vol. 2,7.7,12535
23821,"[12, 14]",428078,en,Mortal Engines,40.095,2018-12-14,Mortal Engines,6.0,1751
23822,"[12, 28, 53]",375588,en,Robin Hood,39.975,2018-11-21,Robin Hood,5.8,1194
17381,"[28, 12, 878, 14]",246655,en,X-Men: Apocalypse,39.293,2016-05-27,X-Men: Apocalypse,6.5,8348
17382,"[12, 28, 878]",271110,en,Captain America: Civil War,39.137,2016-05-06,Captain America: Civil War,7.4,14000
23823,"[28, 35, 12]",383498,en,Deadpool 2,38.894,2018-05-10,Deadpool 2,7.5,8773
23824,"[28, 12, 14]",297802,en,Aquaman,38.102,2018-12-21,Aquaman,6.8,6155
2468,"[12, 14, 28]",10195,en,Thor,38.068,2011-05-06,Thor,6.7,12764
23825,"[18, 10402]",424694,en,Bohemian Rhapsody,37.197,2018-11-02,Bohemian Rhapsody,8.1,7629

In [ ]:
# Loading the 'movie gross' file.
movie_gross_df = pd.read_csv('data/bom.movie_gross.csv.gz', index_col=0)

In [ ]:
# Gatherting information about the Data Frame.
movie_gross_df.info()

In [ ]:
# Checking for how many missing values there are in each column. 
movie_gross_df.isna().sum()

In [ ]:
# Previewing the first 5 rows in the Data Frame.
movie_gross_df.head()

In [ ]:
movie_budgets_df['numbers'] = movie_budgets_df['numbers'].str.replace(',', '').astype(int)

In [ ]:
movie_budgets_df.head()

In [ ]:
movie_budgets_df.info()

In [ ]:
rt_reviews_df = pd.read_csv('data/rt.reviews.tsv.gz', sep='\t', encoding='latin-1', index_col=0)

In [ ]:
rt_reviews_df.info()

In [ ]:
rt_reviews_df.head()

In [ ]:
rt_movie_info_df = pd.read_csv('data/rt.movie_info.tsv.gz', sep='\t', encoding='latin-1', index_col=0 )

In [ ]:
rt_movie_info_df.info()

In [ ]:
rt_movie_info_df.head()

In [ ]:
conn = sqlite3.connect('data/im.db')
cur = conn.cursor()
imdb_tables = pd.read_sql('SELECT * FROM sqlite_master WHERE type = "table"', conn)
imdb_tables

In [ ]:
df_imdb = pd.read_sql('SELECT * FROM principals', conn)

In [ ]:
df_imdb.head()

# Exploratory Data Analysis

# Conclusion

## Recommendations

## Limitations

## Next Steps

# More Information